DATABASE_URL=""
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
SUPABASE_URL=""
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
QDRANT_URL=""
QDRANT_API_KEY=""
NVIDIA_API_KEY=""
NVIDIA_LLM_MODEL="openai/gpt-oss-120b"
GROQ_API_KEY=""
GROQ_API_KEY_2=""
GROQ_API_KEY_3=""
GROQ_LLM_MODEL="openai/gpt-oss-120b"
NEXT_PUBLIC_BACKEND_URL="http://localhost:8000"